/**container */
.container.container-eeusp {
    padding: 0;
}

.eeusp-logodefault img {
    max-width: 100%;
    height: auto;
}

/*----------LOGOS E NOMES-----------*/
@media (min-width:768px) {
    /*LOGODEFAULT*/
    .eeusp-logodefault {
        display:block;
        position:relative;
        padding-bottom: 30px;
        padding-top: 30px;
    }
    
    /*CONTAINER DE LOGOS E NOMES*/
    .eeusp-firstsecondthird {
        display: flex;
        flex-wrap: nowrap;    
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;    
        padding-right: 10px; 
        width: 100%;
    }
    
    /*LOGO eeusp*/
    .eeusp-logowrap {
        width: 200px;
        height: auto;
        min-width: 84px;
    }
    
    /*NOME E SLOGAN*/
    .eeusp-second {
        padding-left: 10px;
        padding-right: 10px;
    }

    /*LOGO USP*/
    .eeusp-third {
        width: 95px; 
        height:51px;
    }

    .eeusp-logo-usp-img {
        padding-top: 15px;
    }
    
    /*CONTEÙDO DO SECOND (SITE E SLOGAN)*/
    /*FONTE*/
    .eeusp-second a {
        font-family: "Arial Narrow", "Arial" , Sans-serif;
        text-decoration: none;
        color: #002147;
    }
    
    /*SLOGAN*/
    .eeusp-slogan {
        font-size: 13pt;
        line-height: 1em;
        padding-left: 2px;
        margin-bottom: -1px;
    }
    
    /*NOME DO SITE*/
    .eeusp-site-name {
        font-size: 30pt;
        line-height: 1em;
        margin-bottom: -6px;
    }
}

/*--------------------------(-)767px------------------------*/
@media (max-width:767px){
    /*----------LOGOS E NOMES-----------*/
    /*LOGODEFAULT*/
    .eeusp-logodefault{
        display:block;
        position:relative;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    
    /*CONTAINER DE LOGOS E NOMES*/
    .eeusp-firstsecondthird {
        display: flex;
        flex-wrap: nowrap;    
        width: 100%;    
        padding-left: 10px;    
        padding-right: 10px; 
    }
    
    /*LOGO eeusp*/
    .eeusp-logowrap{
        width: 84px;
        min-width: 84px;
    }
    
    /*NOME E SLOGAN*/
    .eeusp-second{
        padding-left: 6px;
    }

    /*LOGO USP*/
    .eeusp-third {
        display:none;
    }
    
    /*CONTEÙDO DO SECOND (SITE E SLOGAN)*/
    /*FONTE*/
    .eeusp-second a{
        Font-family: "Arial Narrow", "Arial" , Sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        color: #002147;
    }
    
    /*SLOGAN E NOME DO SITE*/
    .eeusp-slogan, .eeusp-site-name {
        font-size: 15px;
        line-height: 13px;
    }

}

/* #skin_login_bar é o div pai */
#skin_login_bar {
    display: block;
    font-size: 16px;
    padding: 5px 0;
}

/* .login_logout_link formata os links correspondentes que estão nos includes */
#skin_login_bar .login_logout_link {
    color: #002147 ;
    text-decoration: none !important;
    font-weight: bold;
    padding-left: 5px;
}

#skin_login_bar  svg {
    color: #002147 ;
}

@media (max-width:767px) {
    #skin_login_bar {
        padding: 0 10px;
    }
    #skin_login_bar {
        font-size: 14px;
    }
}

/** MENU */
#menu {
    background-color: #D4DDEA;
    color: #002147;
}

#menu .navbar .navbar-brand {
    margin-right: 0;
}

#menu .navbar a {
    color: #002147;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;  
    padding: 10px 15px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1px;
}

.dropdown, .dropdown .dropdown-menu, .dropdown .dropdown-item, .dropdown a {
    background-color: #D4DDEA;
    color: #002147;
}

#menu .navbar .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    border: 0;
}

#menu .navbar .dropdown a {
    border-bottom: 1px solid #002147;
    border-right: 0;
}

#menu .dropdown-toggle::after {
    transform: rotate(-90deg);
}

#menu .dropdown-header {
    padding: 10px 10px;
    color: #002147;
    text-transform: uppercase;
    font-weight: bold;
}

/*--------------------------(-)767px------------------------*/
@media (max-width:767px) {
    #menu .navbar a {
        border-right:none;
    }    

    .navbar .navbar-toggler {
        border-color: #002147;
        padding: 0 6px;
        margin: 6px 12px;
    }

    .navbar .navbar-toggler .navbar-toggler-icon {
        filter: contrast(1) saturate(1) invert(1);
    }

    #menu .dropdown-menu {
        box-shadow: 0 6px 12px rgba(0,0,0,0.175);
        margin-right: 8px;
    }

    #menu .navbar a {
        font-size: 12px;
    }
}


/** FOOTER */
.footer-eeusp {
    background-color: #002147;
    color: #fff;
    padding: 20px;
    margin-top: 40px;
}

.footer-eeusp a {
    color: #fff;
    font-size: 14px;
}

#skin_footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
}