.logo-faixa {
  background-image: url(../images/bg-headtop.gif);
  margin-bottom: 5px;
  text-align: right;
  color: white;
  padding-top: 12px;
  font-size: 15px;
}

.logos-header {
  margin-bottom: 10px;
}

.logo-texto {
  display: block;
  width: 260px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  float: left;
}

.logo-imagem {
  display: block;
  width: 130px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  float: left;
}

.texto-usuario {
  margin-right: 10px;
}

.nounderline {
  text-decoration: none !important;
}

/* Coloca cor de fundo no menu quando o item está ativo */
.active {
  background: lightgray;
}

/* Cores para menu principal */

#navbarNav ul.navbar-nav li.nav-item a:link {
  color: black;
  text-decoration: none;
}

#navbarNav ul.navbar-nav li.nav-item a:visited {
  color: black;
  text-decoration: none;
}

#navbarNav ul.navbar-nav li.nav-item a:hover {
  color: black;
  text-decoration: none;
}

#navbarNav ul.navbar-nav li.nav-item a:active {
  color: black;
  text-decoration: none;
}

